@page "/Identity/ResetPasswordConfirmation"
<title>Reset password confirmation</title>
<h3>Reset password confirmation</h3>
<p>
    Your password has been reset. Please <a href="Login.razor">click here to log in</a>.
</p>
